Repository rh-ecosystem-edge/ztp-pipeline-relocatable, pull requests merged in 2022-08, with the labels that each got.

#509 MGMT-10891: Rephrase Custom Domain page
  ui/frontend/src/components/DomainPage/DomainSelector.tsx
  ui/frontend/src/components/DomainPage/__snapshots__/DomainPage.test.tsx.snap
  ui/frontend/src/components/DomainPage/__snapshots__/DomainSelector.test.tsx.snap
Labels: ui, test-ci-ui, size/S

#496 MGMT-10846: Emphasize auto-generating of certs when not provided
  ui/frontend/src/components/DomainCertificatesDecisionPage/DomainCertificatesDecision.tsx
  ui/frontend/src/components/DomainCertificatesPage/DomainCertificatesPanel.tsx
  ui/frontend/src/components/K8SStateContext.tsx
  ui/frontend/src/components/Settings/SettingsPageDomainCertificates.tsx
  ui/frontend/src/components/Settings/SettingsPageRight.tsx
  ui/frontend/src/components/types.ts
Labels: ui, test-ci-ui, size/M

#497 MGMT-10933: Delete UI backup route
  ui/backend/src/common/constants.ts
  ui/backend/src/common/index.ts
  ui/backend/src/common/resources/index.ts
  ui/backend/src/common/resources/utils.ts
  ui/backend/src/endpoints/changeDomain.ts
  ui/backend/src/k8s/oauth.ts
  ui/backend/src/resources/deployment.ts
  ui/backend/src/resources/oauthclient.ts
  ui/backend/src/resources/resourceTemplates.ts
  ui/backend/src/resources/route.ts
  ui/frontend/src/components/PersistPage/constants.ts
  ui/frontend/src/components/PersistPage/persist.ts
  ui/frontend/src/components/PersistPage/utils.ts
  ui/frontend/src/resources/Route.ts
Labels: ui, test-ci-ui, size/M

#511 NO_ISSUE: allow for setting custom cluster names
  Makefile
  hack/deploy-hub-local/build-edgecluster.sh
  hack/deploy-hub-local/create-vm-sno.yml
  hack/deploy-hub-local/create-vm.yml
Labels: internal, size/M

#518 Update lab-nfs.sh
  hack/deploy-hub-local/lab-nfs.sh
Labels: bug, size/XS

#512 MGMT-11381: Enable image mirroring for SNO
  deploy-odf/deploy.sh
  pipelines/resources/deploy-ztp-edgeclusters-sno.yaml
Labels: pipelines, odf, size/M

#519 fixing deploy hub, adding registry option
  .gitignore
  hack/deploy-hub-local/build-edgecluster.sh
  hack/deploy-hub-local/build-hub.sh
Labels: bug, enhancement, internal, size/S

#520 NO-ISSUE: Use a dedicated build dir per pipeline/task
  deploy-disconnected-registry/ocp-sync.sh
  deploy-disconnected-registry/olm-sync.sh
  pipelines/resources/common/common-pre-flight-edgeclusters.yaml
  pipelines/resources/common/common-pre-flight.yaml
  pipelines/resources/contrib/contrib-gpu-operator.yaml
  pipelines/resources/contrib/contrib-template.yaml
  pipelines/resources/deploy-ztp-edgeclusters-sno.yaml
  pipelines/resources/deploy-ztp-edgeclusters.yaml
  pipelines/resources/edgeclusters/edgecluster-deploy-disconnected-registry-edgeclusters-ocp.yaml
  pipelines/resources/edgeclusters/edgecluster-deploy-disconnected-registry-edgeclusters-olm.yaml
  pipelines/resources/edgeclusters/edgecluster-deploy-disconnected-registry-edgeclusters-ps.yaml
  pipelines/resources/edgeclusters/edgecluster-deploy-disconnected-registry-edgeclusters.yaml
  pipelines/resources/edgeclusters/edgecluster-deploy-edgecluster.yaml
  pipelines/resources/edgeclusters/edgecluster-deploy-icsp-edgeclusters-post.yaml
  pipelines/resources/edgeclusters/edgecluster-deploy-icsp-edgeclusters-pre.yaml
  pipelines/resources/edgeclusters/edgecluster-deploy-lso.yaml
  pipelines/resources/edgeclusters/edgecluster-deploy-lvmo.yaml
  pipelines/resources/edgeclusters/edgecluster-deploy-metallb.yaml
  pipelines/resources/edgeclusters/edgecluster-deploy-odf.yaml
  pipelines/resources/edgeclusters/edgecluster-deploy-ui.yaml
  pipelines/resources/edgeclusters/edgecluster-deploy-workers.yaml
  pipelines/resources/edgeclusters/edgecluster-detach-cluster.yaml
  pipelines/resources/hub/hub-deploy-acm.yaml
  pipelines/resources/hub/hub-deploy-disconnected-registry.yaml
  pipelines/resources/hub/hub-deploy-httpd-server.yaml
  pipelines/resources/hub/hub-deploy-hub-config.yaml
  pipelines/resources/hub/hub-deploy-icsp.yaml
  pipelines/resources/hub/hub-deploy-mce.yaml
  pipelines/resources/hub/hub-save-config.yaml
  shared-utils/common.sh
Labels: internal, pipelines, registry, size/L

#522 NO_ISSUE: Set workspace for hub pipelines too
  pipelines/resources/deploy-ztp-hub-mce.yaml
  pipelines/resources/deploy-ztp-hub.yaml
  pipelines/resources/hub/hub-deploy-acm.yaml
  pipelines/resources/hub/hub-deploy-disconnected-registry.yaml
  pipelines/resources/hub/hub-deploy-httpd-server.yaml
  pipelines/resources/hub/hub-deploy-hub-config.yaml
  pipelines/resources/hub/hub-deploy-icsp.yaml
  pipelines/resources/hub/hub-deploy-mce.yaml
  pipelines/resources/hub/hub-save-config.yaml
Labels: size/M

#455 NO_ISSUE: Overwrite kubeconfig on extract
  hack/deploy-hub-local/ansible/tasks/files/bashrc
Labels: internal, ansible, size/XS, ready-to-merge

#524 Adjusting the doc.
  documentation/ztp-for-factories/ztp-configuring-edge-at-remote-site.adoc
Labels: documentation, size/XS

#526 NO_ISSUE: Remove hardcoded workspace path, use OUTPUTDIR
  deploy-disconnected-registry/olm-sync.sh
Labels: registry, size/S

#505 adding monitor for quay operator deployment
  deploy-disconnected-registry/deploy.sh
Labels: registry, size/S, test-compact

#527 Shortening a long param message
  documentation/ztp-for-factories/ztpfw-pipelines-flags-arguments.adoc
Labels: size/XS

#528 Rephrasing a note.
  documentation/ztp-for-factories/ztp-configuring-edge-at-remote-site.adoc
Labels: documentation, size/XS

#529 Improving the message for SSH key download.
  documentation/ztp-for-factories/ztp-configuring-edge-at-remote-site.adoc
Labels: documentation, size/XS

#530 Updating the doc per update in UI.
  documentation/ztp-for-factories/ztp-configuring-edge-at-remote-site.adoc
Labels: documentation, size/XS

#532 List of params.
  documentation/ztp-for-factories/ztpfw-pipelines-flags-arguments.adoc
Labels: documentation, size/XS

#531 Several fixes to arguments in table.
  documentation/ztp-for-factories/ztpfw-pipelines-flags-arguments.adoc
Labels: documentation, size/XS

#533 Setup complete addition.
  documentation/ztp-for-factories/ztp-configuring-edge-at-remote-site.adoc
Labels: documentation, size/XS

#537 Additional words for changing domain flow
  documentation/ztp-for-factories/ztp-configuring-edge-at-remote-site.adoc
Labels: documentation, size/XS

#536 certificates screens
  documentation/ztp-for-factories/ztp-configuring-edge-at-remote-site.adoc
Labels: documentation, size/XS

#539 changing disk size
  hack/deploy-hub-local/create-vm.yml
Labels: internal, size/XS

#540 We don't need to create a new RSA key if one existed.
  shared-utils/common.sh
Labels: internal, size/S

#543 NO_ISSUE: Let PVC use the default storageclass
  pipelines/resources/common/pvc-template.yaml
Labels: size/XS

#544 NO_ISSUE: Adding the missing function.
  deploy-lvmo/deploy.sh
Labels: size/XS

#546 MGMT-10788: Keep Retry button forever since first error
  ui/frontend/src/components/Settings/SettingsPageRight.tsx
Labels: size/S

#549 MGMT-11641: Rephrase for failed SSH key download
  ui/frontend/src/components/DownloadSshKeyPage/DownloadSshKey.tsx
Labels: size/XS

#548 MGMT-11488: Split a sentence on the custom certs page
  ui/frontend/src/components/DomainCertificatesPage/DomainCertificatesPanel.tsx
Labels: size/XS

#545 We should store the RSA key for the edge cluster sooner.
  deploy-edgecluster/verify.sh
  finish-deployment/deploy.sh
Labels: finalization, size/S, edgecluster

#550 Revert "MGMT-10030: Custom registry "
  deploy-disconnected-registry/common.sh
  deploy-disconnected-registry/deploy.sh
  deploy-disconnected-registry/manifests/custom-registry-endpoint.yaml
  deploy-disconnected-registry/ocp-sync.sh
  deploy-disconnected-registry/quay-manifests/quay-user-update.json
  deploy-disconnected-registry/verify.sh
  deploy-edgecluster/configure_disconnected.sh
  deploy-hub-configs/deploy.sh
  hack/deploy-hub-local/build-edgecluster.sh
  shared-utils/common.sh
Labels: size/L

#552 MGMT-11641: Show error message for SSH key download
  ui/frontend/src/components/DownloadSshKeyPage/DownloadSshKey.tsx
Labels: size/S
