Repository rh-ecosystem-edge/ztp-pipeline-relocatable, pull requests merged in 2022-07, with the labels that each got.

#461 feat: Upgrade to ODF 4.10
  Makefile
  hack/deploy-hub-local/build-edgecluster.sh
  hack/deploy-hub-local/create-vm.yml
Labels: internal, test-ci, size/S

#459 [UI] Split frontend/backend test/build steps
  .github/workflows/ui.yml
  images/Containerfile.UI
  ui/frontend/package.json
  ui/frontend/yarn.lock
  ui/package.json
  ui/yarn.lock
Labels: internal, ui, test-ci-ui, github-actions, images, size/L

#456 ci(ansible): define virt-host profile for hosts
  hack/deploy-hub-local/ansible/inventory-ci
Labels: internal, ansible, size/XS, ready-to-merge

#414 fix: remove unneeded cluster index
  deploy-edgecluster/render_edgeclusters.sh
  deploy-worker/render_worker.sh
  finish-deployment/deploy.sh
  shared-utils/common.sh
Labels: internal, worker, test-ci, finalization, size/M, edgecluster, ready-to-merge

#454 fix: Make quay.io use pull secret only
  shared-utils/common.sh
Labels: internal, test-ci, size/XS

#469 fix the bug for metallb operator
  deploy-metallb/deploy.sh
Labels: bug, metallb, size/XS

#471 Downgrade yarn to a tested version
  images/Containerfile.UI
Labels: ui, test-ci-ui, images, size/S

#470 MGMT10771-single nic sdn removing double route
  deploy-edgecluster/render_edgeclusters.sh
Labels: size/S, edgecluster

#449 ci(nfs): do wipe instead of full removal
  hack/deploy-hub-local/lab-nfs.sh
Labels: internal, size/XS

#472 Backport for PR #469 (metallb workaround for their service account)
  deploy-metallb/deploy.sh
Labels: metallb, size/XS, backport

#473 MGMT10771-single nic sdn removing double route (#470)
  deploy-edgecluster/render_edgeclusters.sh
Labels: size/S, edgecluster, backport

#476 Fix: metallb order patch
  deploy-metallb/deploy.sh
Labels: metallb, size/XS, edgecluster

#477 Bug 2106840: metallb order patch #476
  deploy-metallb/deploy.sh
Labels: size/M

#478 Fix: Makefile issue with release tag
  Makefile
Labels: bug, size/XS

#479 Revert "Fix: Makefile issue with release tag"
  Makefile
Labels: size/XS

#480 NO-ISSUE: Add retries when waiting for worker agent
  deploy-worker/render_worker.sh
Labels: worker, size/S

#485 Makefile backports
  Makefile
Labels: size/S

#484 NO-ISSUE: Add retries when waiting for worker agent
  deploy-worker/render_worker.sh
Labels: worker, size/S

#483 Require CI UI build to pass
  .github/workflows/testing-pr.yml
  ui/README.md
Labels: internal, ui, test-ci-ui, github-actions, size/XS

#487 Correcting a mispell.
  finish-deployment/deploy.sh
Labels: finalization, size/XS

#463 MGMT-10381: Use rados-gw nstead of CephFS as recommended by the ODF team
  deploy-odf/deploy.sh
  deploy-odf/verify.sh
  hack/deploy-hub-local/create-vm.yml
Labels: internal, test-ci, odf, size/XS, ready-to-merge

#482 NO_ISSUE: Removing a workaround for a verified bug.
  deploy-metallb/deploy.sh
Labels: metallb, test-ci, size/XS

#491 NO_ISSUE: add new pipeline to test manual with label sno and compact
  .github/workflows/testing-pr-compact.yml
  .github/workflows/testing-pr-sno.yml
Labels: internal, github-actions, size/L

#492 MGMT-11303: Add a deploy-lvmo component
  Makefile
  deploy-disconnected-registry/common.sh
  deploy-lvmo/deploy.sh
  deploy-lvmo/manifests/01-Namespace.yaml
  deploy-lvmo/manifests/02-LVMO-OperatorGroup.yaml
  deploy-lvmo/manifests/03-LVMO-Subscription.yaml
  deploy-lvmo/manifests/04-LVMO-LVMOCluster.yaml
  deploy-lvmo/verify.sh
  pipelines/resources/deploy-ztp-edgeclusters-sno.yaml
  pipelines/resources/edgeclusters/edgecluster-deploy-lvmo.yaml
  pipelines/resources/edgeclusters/kustomization.yaml
Labels: pipelines, registry, size/L, test-sno

#498 UI: Update browserslist to latest
  ui/frontend/yarn.lock
Labels: ui, test-ci-ui, size/XS

#495 MGMT-10982: Fix Save button position for custom certificates
  ui/frontend/src/components/Settings/SettingsPageRight.css
  ui/frontend/src/components/Settings/SettingsPageRight.tsx
Labels: ui, test-ci-ui, size/S

#481 MGMT-10842: Rephrase the Kubeadmin-delete dialog
  ui/frontend/src/components/PersistPage/constants.ts
  ui/frontend/src/components/Settings/DeleteKubeadminButton.tsx
Labels: ui, test-ci-ui, size/XS

#501 Revert "Require CI UI build to pass"
  .github/workflows/testing-pr-compact.yml
  ui/README.md
Labels: internal, ui, test-ci-ui, github-actions, size/XS

#502 MGMT-11305: Install the ODF operator instead of OCS
  deploy-disconnected-registry/common.sh
  deploy-odf/manifests/02-ODF-OperatorGroup.yaml
  deploy-odf/manifests/03-ODF-Subscription.yaml
Labels: size/XS

#503 MGMT-10712: Validate domain name resolution
  ui/backend/src/common/types.ts
  ui/backend/src/endpoints/configure.ts
  ui/backend/src/endpoints/index.ts
  ui/backend/src/endpoints/readiness.ts
  ui/backend/src/endpoints/validateDomain.ts
  ui/backend/src/index.ts
  ui/frontend/src/components/DomainPage/DomainPage.tsx
  ui/frontend/src/components/DomainPage/validateDomain.ts
  ui/frontend/src/components/K8SStateContext.tsx
  ui/frontend/src/components/Settings/SettingsPageRight.tsx
  ui/frontend/src/components/WizardFooter/WizardFooter.tsx
  ui/frontend/src/components/types.ts
Labels: ui, test-ci-ui, size/L

#504 MGMT-11015: Install ODF for SNO edgecluster
  deploy-odf/deploy.sh
  deploy-odf/manifests/04-MCG-StorageCluster.yaml
  pipelines/resources/deploy-ztp-edgeclusters-sno.yaml
Labels: pipelines, odf, size/M

#499 ci: reduce number of pv's to lower storage requirements
  hack/deploy-hub-local/lab-nfs.sh
Labels: internal, size/XS

#510 MGMT-11380: Deploy Quay in SNO clusters
  pipelines/resources/deploy-ztp-edgeclusters-sno.yaml
Labels: pipelines, size/M

#506 MGMT-11366: Fix wording for custom certificates
  ui/frontend/src/components/DomainCertificatesPage/DomainCertificatesPanel.tsx
Labels: ui, test-ci-ui, size/XS

#508 MGMT-10788: Use Retry for button name in case of error
  ui/frontend/src/components/Settings/SettingsPageRight.tsx
Labels: ui, test-ci-ui

#513 NO_ISSUE: make sure we are counting only masters
  deploy-odf/deploy.sh
Labels: odf, size/XS

#514 UI Image: add bind-utils
  images/Containerfile.UI
Labels: test-ci-ui, size/XS
