Repository rh-ecosystem-edge/ztp-pipeline-relocatable, pull requests merged in 2022-04, with the labels that each got.

#127 Get number of hosts to wait for instead of hardcoding them
  deploy-spoke/configure_disconnected.sh
Labels: enhancement, spoke

#131 Add mandatory root_disk
  documentation/ztp-for-factories/ztp-for-factory-prerequisites.adoc
  examples/config.yaml
  hack/deploy-hub-local/build-spoke.sh
  hack/deploy-hub-local/create-vm.yml
  shared-utils/verify_preflight-spokes.sh
Labels: documentation, internal

#133 Nuke disks
  deploy-ocs/deploy.sh
Labels: ocs

#155 The storageDeviceSet count should match the number of disks
  deploy-ocs/deploy.sh
  deploy-ocs/manifests/04-OCS-StorageCluster.yaml
Labels: enhancement, ocs

#153 Add support 4.10
  .github/workflows/testing-pr.yml
  deploy-disconnected-registry/common.sh
  deploy-disconnected-registry/ocp-sync.sh
  deploy-httpd-server/deploy.sh
  deploy-hub-configs/04-agent-service-config.yml
  deploy-hub-configs/deploy.sh
  deploy-ocs/deploy.sh
  deploy-spoke/render_spokes.sh
  deploy-worker/render_worker.sh
  documentation/ztp-for-factories/ztp-for-factory-spokes-yaml.adoc
  examples/config.yaml
  hack/deploy-hub-local/build-hub.sh
  hack/deploy-hub-local/build-spoke.sh
  shared-utils/common.sh
  shared-utils/verify_preflight.sh
Labels: documentation, GHA, internal, spoke, ocs, worker, registry

#151 MGMT-9715 Hub sno
  hack/deploy-hub-local/build-hub.sh
  hack/deploy-hub-local/build-spoke.sh
  hack/deploy-hub-local/lab-nfs.sh
  hack/deploy-hub-local/nfs.yml
  hack/deploy-hub-local/sno-metal3.yml
Labels: enhancement, Hold, skip-ci, internal

#136 MGMT-9524 Persist domain
  images/Containerfile.UI
  ui/backend/package.json
  ui/backend/src/constants.ts
  ui/backend/src/endpoints/changeDomain.ts
  ui/backend/src/endpoints/generateCertificate.ts
  ui/backend/src/endpoints/htpasswd.ts
  ui/backend/src/endpoints/index.ts
  ui/backend/src/endpoints/utils.ts
  ui/backend/src/frontend-shared.ts
  ui/backend/src/index.ts
  ui/backend/src/k8s/json-request.ts
  ui/backend/src/resources/apiserver.ts
  ui/backend/src/resources/ingress.ts
  ui/backend/src/resources/resourceTemplates.ts
  ui/backend/src/resources/route.ts
  ui/backend/src/resources/secret.ts
  ui/backend/src/resources/types.ts
  ui/backend/yarn.lock
  ui/frontend/src/common/README.txt
  ui/frontend/src/common/index.ts
  ui/frontend/src/common/resources/index.ts
  ui/frontend/src/common/resources/ingress.ts
  ui/frontend/src/common/resources/metadata.ts
  ui/frontend/src/common/resources/patches.ts
  ui/frontend/src/common/resources/resource.ts
  ui/frontend/src/common/resources/route.ts
  ui/frontend/src/common/resources/secret.ts
  ui/frontend/src/common/resources/service.ts
  ui/frontend/src/common/resources/status.ts
  ui/frontend/src/common/resources/utils.test.ts
  ui/frontend/src/common/resources/utils.ts
  ui/frontend/src/common/types.ts
  ui/frontend/src/common/validation.ts
  ui/frontend/src/components/PersistPage/constants.ts
  ui/frontend/src/components/PersistPage/persist.ts
  ui/frontend/src/components/PersistPage/persistDomain.ts
  ui/frontend/src/components/PersistPage/persistIdentityProvider.ts
  ui/frontend/src/components/PersistPage/persistServices.ts
  ui/frontend/src/components/PersistPage/resourceTemplates.ts
  ui/frontend/src/components/PersistPage/types.ts
  ui/frontend/src/components/Settings/Settings.tsx
  ui/frontend/src/components/WelcomePage/WelcomePage.test.tsx
  ui/frontend/src/components/WelcomePage/WelcomePage.tsx
  ui/frontend/src/components/WelcomePage/initialDataLoad.ts
  ui/frontend/src/components/utils.ts
  ui/frontend/src/resources/Route.ts
  ui/frontend/src/resources/ingress.ts
  ui/frontend/src/resources/oauth.ts
  ui/frontend/src/resources/resource-request.ts
  ui/frontend/src/resources/secret.ts
  ui/frontend/src/resources/service.ts
  ui/package.json
Labels: skip-ci, ui

#158 add the verify step to the metallb job
  deploy-metallb/deploy.sh
  deploy-metallb/verify.sh
Labels: skip-ci, metallb

#170 add 'test-ci'label to pipe
  .github/workflows/testing-pr.yml
Labels: skip-ci

#173 Patch provisioning after all crs were created.
  deploy-spoke/deploy.sh
Labels: bug, spoke, test-ci

#180 Bug/dns issues
  hack/deploy-hub-local/lab-dns.sh
Labels: bug, skip-ci, internal

#176 Improve logging of the htpasswd endpoint
  ui/backend/src/endpoints/htpasswd.ts
Labels: ui

#183 Fix initial data load of IPs
  ui/frontend/src/components/WelcomePage/initialDataLoad.ts
Labels: ui

#184 Allow Next when SSH key ydownload fails
  ui/frontend/src/components/DownloadSshKeyPage/DownloadSshKey.tsx
Labels: ui

#178 Sno spoke support
  deploy-metallb/deploy.sh
  deploy-metallb/manifests/03-MLB-Subscription.yaml
  deploy-metallb/manifests/03-NMS-Subscription.yaml
  deploy-metallb/verify.sh
  deploy-spoke/render_spokes.sh
  deploy-spoke/verify.sh
  hack/deploy-hub-local/build-hub.sh
  hack/deploy-hub-local/build-spoke.sh
  hack/deploy-hub-local/create-vm-sno.yml
  hack/deploy-hub-local/lab-dns-external.sh
  hack/deploy-hub-local/lab-dns-internal.sh
  hack/deploy-hub-local/lab-sushy.service
  hack/deploy-hub-local/lab-sushy.sh
  images/.containerignore
  pipelines/resources/common/pod-template.yaml
  pipelines/resources/deploy-ztp-spokes-sno.yaml
  pipelines/resources/kustomization.yaml
Labels: internal, pipelines, spoke, metallb

#193 Disable line wrapping for base64
  deploy-spoke/render_spokes.sh
Labels: spoke

#198 fix: MGMT-10096 - Avoid storage overcommit when OCS is deployed
  deploy-ocs/manifests/04-OCS-StorageCluster.yaml
  hack/deploy-hub-local/create-vm.yml
Labels: skip-ci, internal, ocs

#179 [enhancement] optimize build-pipe image
  images/Containerfile.pipeline
Labels: test-ci

#194 adding checks bootstrap.sh
  pipelines/bootstrap.sh
Labels: pipelines, test-ci

#197 Removing the mentioning of git-revision
  documentation/ztp-for-factories/ztp-for-factory-development.adoc
  documentation/ztp-for-factories/ztp-for-factory-installation-workflow.adoc
  documentation/ztp-for-factories/ztp-for-factory-pipeline-hub.adoc
Labels: documentation, skip-ci

#201 Add a second default route only for SNO Spokes
  deploy-spoke/render_spokes.sh
Labels: spoke
