Repository rh-ecosystem-edge/ztp-pipeline-relocatable, pull requests merged in 2022-10, with the labels that each got.

#578 Fix conatiner UI image build (#577)
  Makefile
  images/Containerfile.UI
  ui/frontend/src/components/DownloadSshKeyPage/__snapshots__/DownloadSshKeyPage.test.tsx.snap
Labels: ui, test-ci-ui, images, size/S

#579 Add prereq page to docs index
  documentation/ztp-for-factories/main.adoc
  documentation/ztp-for-factories/ztp-install-factory-edge-pipeline.adoc
Labels: size/M

#582 MGMT-12187 Fix Logout
  deploy-ui/manifests/clusterrolbinding.yaml
  ui/.gitignore
  ui/backend/src/common/constants.ts
  ui/backend/src/k8s/oauth.ts
  ui/deployProd.sh
  ui/frontend/src/components/Page/HeaderTools.tsx
  ui/frontend/src/components/PersistPage/constants.ts
  ui/frontend/src/components/PersistPage/persistIdentityProvider.ts
  ui/frontend/src/components/PersistPage/utils.ts
  ui/frontend/src/components/Settings/DeleteKubeadminButton.tsx
  ui/frontend/src/components/WelcomePage/WelcomePage.test.tsx
  ui/frontend/src/components/utils.ts
  ui/frontend/src/resources/oauth.ts
  ui/frontend/src/resources/resource-request.ts
  ui/scripts/createTlsSecret.sh
  ui/scripts/deployment.yaml
Labels: ui, test-ci-ui, images, size/L
