Repository rh-ecosystem-edge/ztp-pipeline-relocatable, pull requests merged in 2022-12, with the labels that each got.

#610 Updating kustomize to remove old pipeline
  pipelines/resources/kustomization.yaml
Labels: pipelines, size/XS

#614 Actually set the value of tpm param
  hack/deploy-hub-local/create-vm-sno.yml
  hack/deploy-hub-local/create-vm.yml
  hack/deploy-hub-local/hub-install.yml
Labels: internal, size/XS

#615 Initial changes for 4.11
  deploy-edgecluster/change_def_route.sh
  deploy-edgecluster/render_edgeclusters.sh
Labels: size/S, edgecluster

#620 Single worker
  documentation/ztp-for-factories/ztp-edge-factory-pipeline.adoc
Labels: documentation, size/XS

#619 Updating the ocs to odf in the doc for edgecluster.yaml
  documentation/ztp-for-factories/ztp-install-factory-edge-pipeline.adoc
  documentation/ztp-for-factories/ztp-install-factory-pipeline.adoc
  documentation/ztp-for-factories/ztp-post-install-hub-factory-pipeline-checks.adoc
  documentation/ztp-for-factories/ztp-troubleshooting-factory-pipelines.adoc
Labels: documentation, size/S

#624 The edgecluster-deployer project stores the artifacts
  documentation/ztp-for-factories/ztp-check-install-hub-factory-pipeline.adoc
Labels: size/XS

#625 Condition to ship the edgecluster.
  documentation/ztp-for-factories/ztp-for-factory-overview-ocp-docs.adoc
Labels: documentation, size/XS

#626 Edge pipeline should be mentioned
  documentation/ztp-for-factories/ztp-install-factory-edge-pipeline.adoc
  documentation/ztp-for-factories/ztp-install-factory-pipeline.adoc
Labels: documentation, size/XS

#627 Multiplt pipelines.
  documentation/ztp-for-factories/ztp-install-openshift-pipelines.adoc
Labels: size/XS

#628 SNO is an alternative to multinode.
  documentation/ztp-for-factories/ztp-create-factory-hub-cluster.adoc
Labels: documentation, size/XS

#630 Fixing GW
  documentation/ztp-for-factories/ztp-configuring-edge-at-remote-site.adoc
Labels: documentation

#634 Some tasks run in parallel.
  documentation/ztp-for-factories/ztp-install-factory-pipeline-overview.adoc
Labels: documentation, size/XS
