Repository rh-ecosystem-edge/ztp-pipeline-relocatable, pull requests merged in 2022-09, with the labels that each got.

#553 wipe disks as a shared function
  deploy-lso/deploy.sh
  deploy-lvmo/deploy.sh
  shared-utils/common.sh
Labels: internal, size/M

#554 Updates to completing the setup.
  documentation/ztp-for-factories/ztp-configuring-edge-at-remote-site.adoc
Labels: documentation, size/XS

#555 Updating DNS IP.
  documentation/ztp-for-factories/ztp-configuring-edge-at-remote-site.adoc
Labels: documentation, size/XS

#556 Clarifying on supported scenarios.
  documentation/ztp-for-factories/ztp-for-factory-overview-ocp-docs.adoc
Labels: documentation, size/XS

#551 Revert "Revert "MGMT-10030: Custom registry ""
  Makefile
  deploy-disconnected-registry/common.sh
  deploy-disconnected-registry/deploy.sh
  deploy-disconnected-registry/manifests/custom-registry-endpoint.yaml
  deploy-disconnected-registry/manifests/pvc-registry.yaml
  deploy-disconnected-registry/ocp-sync.sh
  deploy-disconnected-registry/quay-manifests/quay-user-update.json
  deploy-disconnected-registry/verify.sh
  deploy-edgecluster/configure_disconnected.sh
  deploy-hub-configs/deploy.sh
  deploy-odf/deploy.sh
  documentation/ztp-for-factories/ztp-hub-factory-pipeline.adoc
  documentation/ztp-for-factories/ztp-install-factory-edge-pipeline.adoc
  documentation/ztp-for-factories/ztp-install-factory-pipeline.adoc
  hack/custom_registry/01_deploy_registry.sh
  hack/custom_registry/02_update_pullsecret.sh
  hack/custom_registry/README
  hack/deploy-hub-local/build-edgecluster.sh
  hack/deploy-hub-local/build-hub.sh
  pipelines/resources/common/kustomization.yaml
  shared-utils/common.sh
Labels: documentation, internal, pipelines, registry, odf, size/XL, edgecluster

#561 document the task to deploy lvmo
  documentation/ztp-for-factories/ztp-for-factory-prerequisites.adoc
Labels: documentation, size/S

#563 MGMT-11935: Move pipeline image to ubi8 to stay closer to downstream builds
  images/Containerfile.pipeline
Labels: pipelines, images, size/XS

#564 MGMT-11763-enable TPMv2
  deploy-edgecluster/render_edgeclusters.sh
  documentation/ztp-for-factories/ztp-for-factory-prerequisites.adoc
  hack/deploy-hub-local/build-edgecluster.sh
  hack/deploy-hub-local/build-hub.sh
  hack/deploy-hub-local/create-vm-sno.yml
  hack/deploy-hub-local/create-vm.yml
  hack/deploy-hub-local/hub-install.yml
Labels: documentation, internal, size/S, edgecluster

#565 Adding pvc and block device notes.
  documentation/ztp-for-factories/ztp-for-factory-prerequisites.adoc
Labels: documentation, size/S

#566 Fix issue configmap
  deploy-disconnected-registry/deploy.sh
  deploy-disconnected-registry/verify.sh
Labels: size/XS

#567 MGMT-12076 fix the issue with timeout to get route in common.sh
  deploy-disconnected-registry/common.sh
  deploy-disconnected-registry/update-global-pullsecret.sh
  deploy-edgecluster/configure_disconnected.sh
Labels: registry, size/S, edgecluster

#571 Adding exec permissiong to deploy.sh script.
  deploy-odf/deploy.sh
Labels: odf, size/XS
