Repository rh-ecosystem-edge/ztp-pipeline-relocatable, pull requests merged in 2022-11, with the labels that each got.

#580 Adding a minimal edgeclusters pipeline
  pipelines/resources/deploy-ztp-edgeclusters-connected.yaml
  pipelines/resources/kustomization.yaml
Labels: pipelines, size/L

#587 Updated the doc with a more suitable message.
  documentation/ztp-for-factories/ztp-edge-factory-pipeline.adoc
Labels: documentation, size/XS

#588 Small enhancement to the doc
  documentation/ztp-for-factories/ztp-configuring-edge-at-remote-site.adoc
Labels: documentation, size/XS

#591 Rephrasing a sentence to avoid having the same verb
  documentation/ztp-for-factories/ztp-install-factory-edge-pipeline.adoc
  documentation/ztp-for-factories/ztp-install-factory-pipeline.adoc
Labels: documentation, size/XS

#592 Updating the versions.
  documentation/ztp-for-factories/ztp-for-factory-edgeclusters-yaml.adoc
  documentation/ztp-for-factories/ztp-install-factory-edge-pipeline.adoc
  documentation/ztp-for-factories/ztp-install-factory-pipeline.adoc
  documentation/ztp-for-factories/ztp-post-install-hub-factory-pipeline-checks.adoc
  documentation/ztp-for-factories/ztp-pre-hub-install-factory-pipeline-checks.adoc
  documentation/ztp-for-factories/ztp-troubleshooting-factory-pipelines.adoc
Labels: documentation, size/L

#594 MGMT-12602: Allow to configure TPM through edgeclusters.yaml
  deploy-disconnected-registry/manifests/pvc-registry.yaml
  deploy-disconnected-registry/olm-sync.sh
  deploy-edgecluster/render_edgeclusters.sh
  documentation/ztp-for-factories/ztp-install-factory-edge-pipeline.adoc
  hack/deploy-hub-local/build-edgecluster.sh
  hack/deploy-hub-local/build-hub.sh
  hack/deploy-hub-local/create-vm-sno.yml
  hack/deploy-hub-local/create-vm.yml
  pipelines/resources/edgeclusters/edgecluster-deploy-disconnected-registry-edgeclusters-ocp.yaml
  pipelines/resources/edgeclusters/edgecluster-deploy-disconnected-registry-edgeclusters-olm.yaml
  pipelines/resources/hub/hub-deploy-disconnected-registry.yaml
Labels: documentation, internal, pipelines, registry, size/M, edgecluster

#595 MGMT-12539: Allow to use newer versions of OCP pipeline
  pipelines/bootstrap.sh
  pipelines/manifests/01-subscription.yaml
Labels: size/XS

#599 Small improvements
  deploy-edgecluster/deploy.sh
  deploy-edgecluster/verify.sh
  shared-utils/verify_preflight.sh
Labels: size/M

#597 Connected pipeline to deploy SNO edge cluster.
  pipelines/resources/deploy-ztp-edgeclusters-sno-connected.yaml
  pipelines/resources/kustomization.yaml
Labels: pipelines, size/L

#600 Updating the OCP version to 4.10.42
  Makefile
Labels: size/XS

#601 Fix the issue with opm index prune.
  deploy-disconnected-registry/olm-sync.sh
Labels: registry, size/XS

#605 Adding root_disk in examples.
  documentation/ztp-for-factories/ztp-install-factory-edge-pipeline.adoc
Labels: documentation, size/S

#607 More changes related to root_disk.
  documentation/ztp-for-factories/ztp-for-factory-edgeclusters-yaml.adoc
  examples/config.yaml
Labels: documentation, size/S

#603 Remove deploy-acm task
  .github/labels.yml
  Makefile
  deploy-acm/01-namespace.yml
  deploy-acm/02-operatorgroup.yml
  deploy-acm/03-subscription.yml
  deploy-acm/04-acm-cr.yml
  deploy-acm/deploy.sh
  deploy-acm/verify.sh
  deploy-edgecluster/render_edgeclusters.sh
  documentation/ztp-for-factories/modules/common-attributes.adoc
  documentation/ztp-for-factories/ztp-create-factory-hub-cluster.adoc
  documentation/ztp-for-factories/ztp-edge-factory-pipeline.adoc
  documentation/ztp-for-factories/ztp-for-factory-installation-workflow.adoc
  documentation/ztp-for-factories/ztp-for-factory-overview-ocp-docs.adoc
  documentation/ztp-for-factories/ztp-hub-factory-pipeline.adoc
  documentation/ztp-for-factories/ztp-install-factory-pipeline.adoc
  documentation/ztp-for-factories/ztp-install-openshift-pipelines.adoc
  documentation/ztp-for-factories/ztp-intro-factory-install.adoc
  documentation/ztp-for-factories/ztp-post-install-hub-factory-pipeline-checks.adoc
  documentation/ztp-for-factories/ztp-troubleshooting-factory-pipelines.adoc
  hack/env
  pipelines/resources/deploy-ztp-hub-mce.yaml
  pipelines/resources/deploy-ztp-hub.yaml
  pipelines/resources/hub/hub-deploy-acm.yaml
  pipelines/resources/hub/hub-deploy-icsp.yaml
  pipelines/resources/hub/kustomization.yaml
Labels: documentation, internal, pipelines, acm, github-actions, size/L

#608 Exit from workers task if no workers defined
  deploy-worker/render_worker.sh
Labels: worker, size/S

#604 Updating the doc to remove obscurity.
  documentation/ztp-for-factories/ztp-configuring-edge-at-remote-site.adoc
Labels: documentation, size/XS

#611 Rephrasing text.
  documentation/ztp-for-factories/ztp-common-expected-errors.adoc
Labels: documentation, size/XS
